<p class="help-text">
  This is a game where you are presented with a word written in Danish. This
  word is a number between 0 and 100.
</p>
<p class="help-text">
  Click any of the 4 buttons to make a guess. The correct answer will be
  highlighted in green. The 3 incorrect ones will be highlighted in red.
</p>
<p class="help-text">
  For every correct guess, you gain 1 point. Whenever you guess incorrectly, you
  go back to 0.
</p>
<button class="close-button" (click)="close()">Close</button>
